---
- name: Reload prometheus
  ansible.builtin.systemd_service:
    name: prometheus
    state: reloaded

- name: Restart prometheus
  ansible.builtin.systemd_service:
    name: prometheus
    enabled: true
    state: restarted
    daemon_reload: true
