---
- name: Validate sshd config
  ansible.builtin.command:
    cmd: sshd -t

- name: Restart sshd
  ansible.builtin.systemd_service:
    name: sshd
    enabled: true
    state: restarted
    daemon_reload: true

